<h3>Name:{{name}}</h3>
<button (click) = "ChangeName('June')"> click </button>

<h4>Email:{{email}}</h4>
<h4>Address: <br> {{address.street}}, <br> {{address.city}} ,<br>{{address.state}}</h4>
<h3>Hobbies</h3>
<button (click) = "toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "show Hobbies"}}</button>
<div *ngIf ='showHobbies'>
     <ul>
        <li *ngFor = 'let hobby of hobbies'>
            {{hobby}}
        </li>
    </ul>
</div>
<ul>
    <li *ngFor = 'let name of names'>
        {{name}}
    </li>
</ul>

